<!--=== Header v5 ===-->
<div class="header-v5 header-static">
  <!-- Navbar -->
  <div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', alt: 'Logo', id: 'logo-header' %>
        <% end %>
      </div>

      <!-- Shopping Cart -->
      <div class="shop-badge badge-icons pull-right">
        <a href="#"><i class="fa fa-shopping-cart"></i></a>
        <span class="badge badge-sea rounded-x"
              id='cart-quantity'>
              <%= @cart.quantity %>
        </span>
        <div class="badge-open">
          <ul class="list-unstyled mCustomScrollbar"
              data-mcs-theme="minimal-dark"
              id="cart-list">
            <% @cart.cart_items do |cart_item| %>
              <%= render partial: 'shared/cart_product', locals: { cart_item: cart_item } %>
            <% end %>
          </ul>
          <div class="subtotal">
            <div class="overflow-h margin-bottom-10">
              <span>Subtotal</span>
              <span class="pull-right subtotal-cost">
                R$ <%= @cart.calculate_subtotal_value %>
              </span>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">View Cart</a>
              </div>
              <div class="col-xs-6">
                <%= link_to 'Finalizar compra', carts_show_path,
                            class: "btn-u btn-u-sea-shop btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Shopping Cart -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <!-- Nav Menu -->
        <ul class="nav navbar-nav">
          <!-- Pages -->
          <!-- <li class="dropdown active">
            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
              Pages
            </a>
            <ul class="dropdown-menu">
              <li class="active"><a href="index.html">Shop UI</a></li>
              <li><a href="shop-ui-inner.html">Product Page</a></li>
              <li><a href="shop-ui-filter-grid.html">Filter Grid Page</a></li>
              <li><a href="shop-ui-filter-list.html">Filter List Page</a></li>
              <li><a href="shop-ui-add-to-cart.html">Checkout</a></li>
              <li><a href="shop-ui-login.html">Login</a></li>
              <li><a href="shop-ui-register.html">Register</a></li>
            </ul>
          </li> -->
          <!-- End Pages -->
        </ul>
        <!-- End Nav Menu -->
      </div>
    </div>
  </div>
  <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->
