<div class="item col-md-3">
  <div class="product-img">
    <%= image_tag product.image_name, alt: '', class: 'full-width img-responsive' %>
    <%= link_to add_to_cart_path(slug: product.cached_slug, format: 'js'),
                class: 'add-to-cart',
                remote: true do %>
      <i class="fa fa-shopping-cart"></i>Adicionar ao Carrinho
    <% end %>
  </div>
  <div class="product-description product-description-brd">
    <div class="overflow-h margin-bottom-5">
      <div class="col-sm-8">
        <h4 class="title-price">
          <%= product.title %>
        </h4>
        <span class="gender"><%= product.description %></span>
      </div>
      <div class="col-sm-4 product-price">
        <span class="title-price">
          R$ <%= product.value.to_s.gsub('.', ',') %>
        </span>
      </div>
    </div>
  </div>
</div>
